<div class="dashboard-container">
  <mat-toolbar color="primary" class="toolbar">
    <span class="title">
      <mat-icon>task_alt</mat-icon>
      Trello Clone
    </span>

    <span class="spacer"></span>

    <div class="user-menu" *ngIf="currentUser">
      <span class="user-name">Welcome, {{ getUserDisplayName() }}</span>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <div class="main-content">
    <app-project-list></app-project-list>
    <router-outlet></router-outlet>
  </div>
</div>
